<div class="bg-dark" style="padding:10px;">
    <h3 style="color:white;">Employement Management</h3>
</div>
<div class="jumbotron">
    <hr>
    <h1>Salary Dashboard</h1>
    <hr>
    
    <table class="table table-sm table-stripped" id="content">
        
        <thead>
            <tr class="bg-info text-white text-center">
                    <th>Employee Id</th>
                    <th>NAME</th>
                    <th>MONTH</th>
                    <th>YEAR</th>
                    <th>SALARY</th>
                    <th>ACTION</th>      
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of salaryInfo" class="text-center">
                <td>{{row.employeeid}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.month}}</td>
                    <td>{{row.year}}</td>
                    <td>{{row.salary}}</td>
                    <!-- <td><button (click)="makePdf()">Download</button></td> -->
                
            </tr>
              
        </tbody>
    </table>
</div> 
